{% extends 'layout.html' %}

{% block content %}
<section>
  <form method="POST" enctype="multipart/form-data">
    {{form.csrf_token}}
    {{form.name}} <span style="color:red"> {{form.name.errors}} </span> <br>
    {{form.reqItem}} <span style="color:red"> {{form.reqItem.errors}} </span> <br>
    {{form.mode}} <span style="color:red"> {{form.mode.errors}} </span> <br>
    {{form.strength}} <span style="color:red"> {{form.strength.errors}} </span> <br>
    {{form.magic}} <span style="color:red"> {{form.magic.errors}} </span> <br>
    {{form.defense}} <span style="color:red"> {{form.defense.errors}} </span> <br>
    {{form.agility}} <span style="color:red"> {{form.agility.errors}} </span> <br>
    {{form.iceSpecial}} <span style="color:red"> {{form.IceSpecial.errors}} </span> <br>
    {{form.critSpecial}} <span style="color:red"> {{form.critSpecial.errors}} </span> <br>
    {{form.fireSpecial}} <span style="color:red"> {{form.fireSpecial.errors}} </span> <br>
    {{form.elecSpecial}} <span style="color:red"> {{form.elecSpecial.errors}} </span> <br>
    {{form.poiSpecial}} <span style="color:red"> {{form.poiSpecial.errors}} </span> <br>
    {{form.cost}} <span style="color:red"> {{form.cost.errors}} </span> <br>
    <input type="submit" value="Submit">
  </form>
</section>
{% endblock %}
