{% extends 'layout.html' %}

{% block content %}
<section>
  <p>Editing Locations</p><br>
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <p>{{ form.name}} <span style="color:red"> {{form.name.errors}} </span></p> <br>
    <p>{{ form.description}}<span style="color:red"> {{form.description.errors}} </span></p> <br>
    <p>{{ form.chapter}} <span style="color:red"> {{form.chapter.errors}} </span></p> <br>
    <p>{{ form.localeType}}<span style="color:red"> {{form.localeType.errors}} </span></p> <br>
    <input type="submit" value="Submit">
  </form>
</section>
{% endblock %}
