<!doctype html>
<html>
  <head>
    <!--replaced with the content of the page_title variable which is passed to the template by 'render_template'. See the return statement for the home function in routes.py for how that variable is passed.
    -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Basic|Bungee|Bungee+Inline|Bungee+Shade&display=swap" rel="stylesheet">
    <title>{{page_title}}</title>
  </head>
  <body>
  {% include 'header.html' %}                       <!-- Gets the contents of 'header.html'-->
  {% include 'nav.html' %}
  {% block content %}
  {% endblock %}
  {% include 'footer.html' %}
  </body>
</html>
