{% extends 'layout.html' %}
{% block content %}
<div class = "grid-L-details">
  <div><img class = "od" src="/static/locations/{{location.id}}.png" alt="{{location.name}}"></div>

  <div>
    <h2>{{location.name}}</h2>
    <h2>Description:</h2><p>{{location.description}}</p>
    <h2>Chapter:</h2><p>{{location.chapter}}</p>
    <h2>Location Type:</h2><p>{{location.localeType}}<p>
  </div>

  <div>
    <h2>Items in {{location.name}}:</h2>
    {% for weapon in location.weaponLoc %}
      <a href = "/weapon/{{weapon.id}}">{{weapon.name}}</a>
    {% endfor %}
    {% for orb in location.orbLoc %}
      <a href = "/orb/{{orb.id}}">{{orb.name}}</a>
    {% endfor %}
  </div>

  <div><a href = "/edit_location/{{location.id}}">Edit Location details</a></div>
</div>
{% endblock %}
