{% extends 'layout.html' %}
{% block content %}
<div class = "orb_details">
  <div><img class = "orb_image_1" src="/static/animalOrbs/{{orb.id}}.png" alt="{{orb.name}}"></div>

  <div>
    <h2>Bonuses:</h2>
    <h2>Magic:</h2><p>{{orb.magicBonus}}</p>
    <h2>Strength:</h2><p>{{orb.strengthBonus}}</p>
    <h2>Defense:</h2><p>{{orb.defenseBonus}}</p>
    <h2>Agility:</h2><p>{{orb.agilityBonus}}</p>
    <h2>Experience Multiplier:</h2><p>{{orb.xpBonus}}</p>
  </div>

  <div>
    <h2>{{orb.name}}</h2>
    <h2>Description</h2><p>{{orb.description}}</p>
    <h2>Requirements</h2><p>{{orb.req}}</p>
    <h2>Cost</h2><p>{{orb.cost}}</p>
    <h2>Location Found</h2><p><a href="../location/{{orb.locationid}}">{{location.name}}</a></p>
  </div>

  <div>
    <a href = "/edit_orb/{{orb.id}}">Edit Animal Orb details</a>
    <form method='POST'>
      <input type="submit" value="Submit">
    </form>
  </div>

</div>
{% endblock %}
