{% extends 'layout.html' %}
{% block content %}
<p>
  Name: <br> {{orb.name}}
  <br>
  Description: <br> {{orb.description}}
  <br>
  Location Found: <br> <a href="../location/{{orb.locationid}}">{{location.name}}</a>
  <br>
  Item Requirements: <br> {{orb.req }}
  <br>
  Bonuses:
  <br>
  Magic: {{orb.magicBonus}}
  <br>
  Strength: {{orb.strengthBonus}}
  <br>
  Defense: {{orb.defenseBonus}}
  <br>
  Agility: {{orb.agilityBonus}}
  <br>
  Experience Multiplier: {{orb.xpBonus}}
</p>
{% endblock %}
