html {
  background-color: #464646;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: justify;
}
footer, nav {
  background-color: #FFFFFF;
  margin: 0 20px 20px 20px;
}
.textBox, footer, h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
h1 {
  font-size: 7vw;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  margin: 10px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding: 0;
}
h2, li a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
a:visited {
  color: #000000;
}
a:link {
  color: #000000;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
a {
  margin: 0;
}
li a {
  text-decoration: none;
  float: left;
  padding: 10px;
  text-align: center;
  display: block;
  line-height: 20px;
}
.grid-containerMain, .grid-containerSecond, .grid-containerOW {
  display: grid;
  grid-gap: 15px;
  margin: 0 20px 20px 20px;
}
.grid-containerMain {
  grid-template-columns: repeat(8, 1fr);
}
.grid-containerMain > div {
  background-color: #FFFFFF;
  text-align: center;
  width: inherit;
  height: 0;
  padding-bottom: 100%;
  display: inline-block;
}
.ao {
  width: 100%;
  position: relative;
  z-index: 0;
}
.od {
  width: 100%;
  position: relative;
}
.grid-containerSecond {
  grid-template-columns: repeat(2, 1fr);
}
.grid-containerSecond > div {
  background-color: #FFFFFF;
  width: inherit;
  height: 0;
  padding-bottom: 100%;
}
.grid-containerOW {
  grid-template-columns: 1fr 1fr 2fr;
}
.grid-containerOW > div {
  background-color: #FFFFFF;
  width: inherit;
  height: auto;
}
.grid-containerOW > div > p {
  margin: 10px;
}
.name {
  animation-name: magic;
  position: absolute;
  z-index: 1;
}
@webkit-keyframes magic {
  from {opacity: 1}
  to {opacity: 0}
}
@keyframes magic {
  from {opacity: 1}
  to {opacity: 0}
}
