/*==========Main==========*/
html {
  background-color: #464646;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
footer, nav, section {
  background-color: #FFFFFF;
  margin: 0 20px 20px 20px;
}
footer, h2 {                                  /*.textBox, */
  margin-top: 0px;
  margin-bottom: 0px;
}
h1 {
  font-size: 7vw;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  margin: 10px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding: 0;
}
h2, li a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
/*==========links and Navigation==========*/
a:visited, a:link {
  color: #000000;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
a {
  margin: 0;
}
li a {
  text-decoration: none;
  float: left;
  padding: 10px;
  text-align: center;
  display: block;
  line-height: 20px;
}
/*==========Grid==========*/
.all_orbs {
  grid-template-columns: repeat(10, 1fr);
  display: grid;
  grid-gap: 15px;
  margin: 0 20px 20px 20px;
}
.all_orbs > div {
  padding-bottom: 100%;
  background-color: #FFFFFF;
  width: inherit;
  height: 0;
}
.all_weapons {
  grid-template-columns: repeat(10, 1fr);
  display: grid;
  grid-gap: 15px;
  margin: 0 20px 20px 20px;
}
.all_weapons > div {
  padding-bottom: 200%;
  background-color: #FFFFFF;
  width: inherit;
  height: 0;
}
.weapon_details {
  grid-template-columns: 1fr 1fr 2fr;
  display: grid;
  grid-gap: 15px;
  margin: 0 20px 20px 20px;
}
.weapon_details > div {
  background-color: #FFFFFF;
  width: inherit;
}
.all_locations {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 15px;
  margin: 0 20px 20px 20px;
}
.all_locations > div {
  padding-bottom: 50%;
  background-color: #FFFFFF;
  width: inherit;
  height: 0;
}
.location_details {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 15px;
  margin: 0 20px 20px 20px;
}
.location_details > div {
  background-color: #FFFFFF;
  width: inherit;
}
.orb_details {
  grid-template-columns: 1fr 1fr 2fr;
  display: grid;
  grid-gap: 15px;
  margin: 0 20px 20px 20px;
}
.orb_details > div {
  background-color: #FFFFFF;
  width: inherit;
}
/*==========Images==========*/
.orb_image_1 {
  width: 100%;
  position: relative;
}
.orb_image_2 {
  width: 100%;
  position: relative;
}
.weapon_image_1 {
  width: 100%;
  position: relative;
}
.weapon_image_2 {
  width: 100%;
  position: relative;
}
/*==========EXPERIEMENTAL==========*/
